{% extends 'templates/parent.html' %} 
{% block title %}Home{% endblock %} 
{% block content %}
<body>
  <header>
    <h1>My Electronics Store</h1>
  </header>
  <nav>
    <a href="{% url 'home' %}">Categories</a>
    <a href="{% url 'add_cat' %}">Add Category</a>
  </nav>
  <main>
    <form method="post" action="">
      {% csrf_token %}
      <h3>complete category information to add:</h3>
      <label for="cat_name">Name: </label>
      <input
        type="text"
        name="name"
        id="cat_name"
        required
        class="form-control form-control-sm"
        maxlength="100"
      />

      <label for="cat_desc">Description: </label>
      <input
        type="text"
        name="desc"
        id="cat_desc"
        class="form-control form-control-lg"
      /><br />
      <input type="submit" />
    </form>
  </main>
</body>
{% endblock %}
