{% extends 'parent.html' %} {% block title %}Home{% endblock %} 
{% block content %}
<body>
  <header>
    <h1>My Electronics Store</h1>
  </header>
  <nav>
    <a href="{% url 'home' %}">Categories</a>
    <a href="{% url 'products_list' cat.id %}">{{cat.name}}</a>
  </nav>
  <main>
    <h2>{{p.name}}</h2>
    <img src="/media/{{p.image}}" alt="{{p.name}}"/>
    <ul>
      <li>Price: {{p.price}}</li>
      <li>Stock: {{p.stock}}</li>
      <li>SKU: {{p.sku}}</li>
      <li>Description:</li>
      <p>{{p.desc}}</p>
    </ul>
  </main>
</body>
{% endblock %}
