{% extends 'parent.html' %}  {% block title %}Home{% endblock %} 
{%block content %}
<body>
  <header>
    <h1>My Electronics Store</h1>
  </header>
  <nav>
    <a href="{% url 'home' %}">Categories</a>
    <a href="{% url 'add_product' cat.id %}">Add {{ cat.name }}</a>
  </nav>
  <main>
    <h2>{{ cat.name }}</h2>
    <ul>
      {% for p in prod %}
      <li><a href="{% url 'product_det' cat_id=cat.id  prod_id=p.id %}">{{p.name}}</a></li>
      {% endfor %}
    </ul>
  </main>
</body>
{% endblock %}
