{% extends 'parent.html' %} {% block title %}Home{% endblock %}
{% block content%}
<body>
  <header>
    <h1>My Electronics Store</h1>
  </header>
  <nav>
    <a href="{% url 'home' %}">Categories</a>
    <a href="{% url 'products_list' cat.id %}">{{cat.name}}</a>
  </nav>
  <main>
    <a
      href="{% url 'prod_update_form' cat_id=cat.id prod_id=p.id  %}"
      class="btn"
      style="display: inline-block"
      >Update</a
    >
    <form
      action="{% url 'hard_del' cat_id=cat.id prod_id=p.id %}"
      method="post"
      style="display: inline; margin-left: 0.5em"
    >
      {% csrf_token %}
      <button
        type="submit"
        class="btn btn-danger"
        onclick="return confirm('Are you sure you want to remove this product?');"
      >
        Remove
      </button>
    </form>

    <h2>{{p.name}}</h2>
    <img src="/media/{{p.image}}" alt="{{p.name}}" />
    <ul>
      <li>Price: {{p.price}}</li>
      <li>Stock: {{p.stock}}</li>
      <li>SKU: {{p.sku}}</li>
      <li>Description:</li>
      <p>{{p.desc}}</p>
    </ul>
  </main>
</body>
{% endblock %}
